li {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adjust the space between text and underline */
  }
  
  li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the underline */
    background-color: rgb(234 88 12 / var(--tw-text-opacity)); /* Color of the underline */
    transform: scaleX(0); /* Initially, the underline is invisible */
    transition: transform 0.3s ease; /* Smooth transition effect */
  }
  
  li:hover:before {
    transform: scaleX(1); /* On hover, the underline stretches to full width */
    transition: transform 0.5s ease; /* Smooth transition effect */
    animation: 1s linear; /* Animation for running effect */
  }